<div class = "container signup">
	<div class="row">
		<div class="col-xs-12">
			<h2 class="elementor-heading-title">ご意見・ご要望フォーム:</h2>
		</div>
	</div>
	<div class="row">
		<div class="form">
    		<%= form_for(@contact, url: users_user_contact_path(current_user), method: :post) do |f| %>
            <div class="toiawase">
              <%= current_user.name %>
            </div>
            <div class="toiawase">
              <%= current_user.email %>
            </div>
            <div class="toiawase">
              <%= f.text_area :message, class: 'feedback-input', placeholder: 'message' %>
            </div>
            <div class="submit">
              <%= f.submit '送信', class: 'success col-xs-offset-4 col-xs-4' %>
            </div>
      	<% end %>
  		</div>
  	</div>
      	<div class="row">
			<p>
				<small>
					Copyright © 2020 bigmuscle Inc. All Rights Reserved.<br>
					東京都大腿郡僧帽筋町広背筋原2101-29  CASE Kinniku
				</small>
			</p>
		</div>