<div class = "container signup">
	<div class="row">
		<div class="col-xs-12">
			<h2 class="elementor-heading-title">お問い合わせフォーム:</h2>
		</div>
	</div>
	<div class="row">
		<div class="form">
    		<%= form_for(@user, url: homes_contact_path, method: :post) do |f| %>
              <div class="toiawase">
                <%= f.text_field :name, class: 'feedback-input', placeholder: 'Name' %>
              </div>
              <div class="toiawase">
                <%= f.email_field :email, class: 'feedback-input', placeholder: 'Email' %>
              </div>
              <div class="toiawase">
                <%= f.text_area :message, class: 'feedback-input', placeholder: 'message' %>
              </div>
              <div class="submit">
                <%= f.submit '送信', class: 'success col-xs-offset-4 col-xs-4' %>
              </div>
      		<% end %>
  		</div>
  	</div>
      	<div class="row">
			<p>
				<small>
					Copyright © 2020 bigmuscle Inc. All Rights Reserved.<br>
					東京都大腿郡僧帽筋町広背筋原2101-29  CASE Kinniku
				</small>
			</p>
		</div>
