<div class = "container top">
	<div class = "row center-head">
		<video src="<%= asset_path 'make_up_body.mp4' %>"width="100%" height="100%"autoplay muted loop playsinline></video>
	</div>
	<%  if user_signed_in? %>
	<% else %>
		<div class = "row">
			<p class="text-foryou">
				<span class="strong-text">人生100年時代</span>　もしあなたが100才まで生きるとしたら<br>
				どんな人生を想像しますか？<br><br>
				学校で学び、卒業、就職して、会社で働いたあと、静かな老後を迎える。もしかすると、そうしたプランは今後成り立たなくなるかもしれません。
				老後資金を潤沢に貯める事ができても身体が健康でなければ幸せな老後が保証されるわけではありません。
				豊かな人生を歩むために必要なのは<span class="strong-text">貯金</span>よりも筋肉の<span class="strong-text">貯筋！</span><br>生涯衰えを知らない”カラダ”を手に入れましょう！！<br>
				<span class="strong-text"><%= link_to "”生涯衰えないカラダを”" ,new_user_registration_path, class: "exhibition" %></span>
			</p>
		</div>
	<% end %>
	<div class = "row ranking">
		<%= image_tag 'ranking.top.png', width:"420" ,height:"200" %>
	</div>
	<div class = "row top-word">
		<div class="col-xs-12">
			<span class="point">メ</span>ンタルがヘラってきたそこの<strong class="you">あなた！！</strong>これを読んで心から元気になろう！！！
		</div>
	</div>

	<%= render 'users/articles/article_ranking', {popular_articles: @popular_articles} %>

	<div class = "row top-about">
		<%= image_tag 'ABOUT.png', width:"200" ,height:"150" %>
		<p class="muscle-body">MUSCLE BODY<br><br>
			みんなの筋肉で日本を支えて行こう！健康こそあなたの一番の財産です。<br><br>
			<span class="share">
				<%= link_to "新しい情報をみんなでSHAREハピしよお" ,homes_about_path,class: "power" %>
			</span>
		</p>
	</div>

	<div class = "row top-word2">
		<div class="col-xs-12">
			<span class="point">毎</span>週おすすめのトレーニングメニューや筋トレGoodsなどおすすめモノを紹介！
		</div>
	</div>
	<!-- youtebe -->
	<div class = "row youtube">
		<iframe width="90%" height="600px" src="https://www.youtube.com/embed/u-wS8jABqQI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
		</iframe>
	</div>
	<!-- youtube -->
</div>
<div class = "container image-app">
	<div class = "row">
		<div class="col-xs-6 canva">
			<%= image_tag 'Canva.jpg', width:"100%" ,height:"100%" %>
		</div>
		<div class="col-xs-6 word-space">
			<h2 class="impact">ANYTHING  4 BEGINNERS.</h2>
			<h2 class="heading-title">Let's get started from here.</h2>
			<div class="text-editor">
				<p>筋トレ初心者<br>知りたい情報、知ってやるべき事全てここに用意しました。やる事が分かったら後は実践そして継続
				</p>
			</div>
			<%= link_to "LEARN MORE" ,homes_about_path,class: "button-text" %>
		</div>
	</div>
	<div class = "row">
		<div class="col-xs-6 word-space">
			<h2 class="impact">Make your heart healthy.</h2>
			<h2 class="heading-title">Never give up on your DREAM.</h2>
			<div class="text-editor">
				<p>筋トレはあなたを救う<br>嫌いな奴、つらい環境からはいつでも逃げ出せる。しかし自分からは逃げられない。自分を愛そう！
				</p>
			</div>
			<%= link_to "LEARN MORE" ,homes_about_path,class: "button-text" %>
		</div>
		<div class="col-xs-6 canva">
			<%= image_tag 'Person.jpg', width:"100%" ,height:"100%" %>
		</div>
	</div>
	<div class = "row fight">
		<h2 class="lets-go-text">Let`s Get Started On Your Adventure!</h2>
		<p class="text-foryou">
			このサイトではトレーニングに欠かせない情報や筋トレ方法、サプリメントのことから<br>
			ダイエット方法についても全てシェアしております。これからトレーニングを始めたいと言う方にも分かりやすく様々な<br>
			情報を共有していますのでこのBIC Muscle: make up bodyをお楽しみにください。
		</p>
	</div>
</div>

<!--ローディング画面 -->
<div id="js-loader" class="loader">
    <div class="loader-animation">
    	<%= image_tag 'log.png' %>
    </div>
</div>
