<%= javascript_include_tag "admins/genre.js" %>

<% if @user.gender == true %>
  <div class ="container men-container">
<% else %>
  <div class ="container women-container">
<% end %>
	<div class = "row">
		<div class="col-xs-12 title-text">
			<p class="subtitle">
				  <span class="sub-menu">
				  	USER edit:
				  </span>
			  	&mdash; Let's praise each other &mdash;
			</p>
		</div>
	</div>
		<%= form_with(model: [:users, @user], data: {remote: false}) do |f| %><!-- デフォルトで非同期で通信しようとするため 非同期しない場合は　data: {remote: false}と記述要-->
		<!-- エラーメッセージ表示-->
			  <% if @user.errors.any? %>
				<h3><%= @user.errors.count %>error occurrence</h3>
				<ul>
					<% @user.errors.full_messages.each do |message| %>
					<li><%= message %></li>
			  <% end %>
				</ul>
					<% end %>
		<!-- エラーメッセージ表示-->

		<div class = "row edit-body">
			<% if @user.gender == true %>
				<%= attachment_image_tag @user, :image,  id:"img_prev", class: "profile-img", fallback: "man-no-image.png" %>
			<% else %>
				<%= attachment_image_tag @user, :image,  id:"img_prev", class: "profile-img", fallback: "woman-no-image.png" %>
			<% end %>
			<div class="field">
				<%= f.label :profile_image,"image change" ,class: "btn btn-warning btn-lg" ,for:"post_img"%>
				<%= f.attachment_field :image, id:"post_img", class: "image", style:"display:none;" %>
			</div>
			<div class="field">
				<%= f.radio_button :gender, :true %>
			    <%= f.label :gender, "男性" %>
			    <%= f.radio_button :gender, :false %>
			    <%= f.label :gender, "女性" %>
			</div>
			<div class="field">
				<%= f.label :name %>
				<%= f.text_field :name, class: "name" %>
			</div>

			<div class="field">
				<%= f.label :postal_code %>
				<%= f.text_field :postal_code, class: "postal_code" %>
			</div>
			<div class="field">
				<%= f.label :address %>
				<%= f.text_field :address, class: "address" %>
			</div>
			<div class="field">
				<%= f.label :age %>
				<%= f.text_field :age, class: "age" %>
			</div>
			<div class="field">
				<%= f.label :height %>
				<%= f.text_field :height, class: "height" %>
			</div>
			<div class="field">
				<%= f.label :weight %>
				<%= f.text_field :weight, class: "weight" %>
			</div>
			<div class="field">
					<%= f.label :movement, "1週間あたりの運動量"%>
				<span class="vol">
					<%= f.select :movement, User::MOVEMENT_FACTOR, {}  %>
				</span>
			</div>
			<div class="row">
				<div class="col-xs-3 col-xs-offset-3">
					<%= f.submit "UPDATE", class: "update-btn" %>
				</div>
				<div class="col-xs-3">
					<%= link_to "Good bye", withdraw_users_user_path(@user), class: "destroy-btn" %>
				</div>
			</div>
		<% end %>
  		</div>
   </div>