<div class ="container">
	<div class = "row">
		<div class="col-xs-8 col-xs-offset-2">
		  <h2 class="elementor-heading-title">FOLLOWER USERS:</h2>
			<table class="table">
				<thead>
					<tr>
						<th>image</th>
						<th>name</th>
						<th colspan="3"></th>
						<th></th>
						<th colspan="3"></th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					<% @users.follower_user.where.not(id: current_user.id).each do |user| %>
						<% if current_user.id != user.id %>
						<tr>
							<td><%= attachment_image_tag(user, :image, :fill, 50, 50, fallback: "no_image.jpg") %></td>
							<td><%= user.name%></td>
							<td>FOLLOW <%= link_to "#{user.follower.count}",follow_users_user_path(user.id) %></td>
							<td>FOLLOWER <%= link_to "#{user.followed.count}",follower_users_user_path(user.id) %></td>
					      <% if current_user.following?(user) %>
							<td>
								<%= link_to 'UN FOLLOW', users_user_relationships_path(user.id), method: :DELETE, class: "btn-sm btn-danger" %>
							</td>
					      <% else %>
							<td>
								<%= link_to 'FOLLOW', users_user_relationships_path(user.id), method: :POST, class: "btn-sm btn-success" %>
							</td>
					      <% end %>
							<td>
								<%= link_to "PROFILE", users_user_path(user), class: "user_#{user.id}" %>
							</td>
					    <% end %>
					<% end %>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>