<div class ="container">
	<div class = "row">
		<div class="col-xs-8 col-xs-offset-2">
			<% if @user == current_user %>
				<h2 class="elementor-heading-title">MY PAGE:</h2>
			<% else %>
			<h2 class="elementor-heading-title">USER SHOW:</h2>
			<% end %>
		</div>
	</div>
		<% if @user.gender == true %>
			 <%= attachment_image_tag @user, :image,:fill, 100, 100, class: "col-xs-2 col-xs-offset-1 pull-left profile-img", fallback: "man-no-image.png" %>
		<% else %>
			 <%= attachment_image_tag @user, :image,:fill, 100, 100, class: "col-xs-2 col-xs-offset-1 pull-left profile-img", fallback: "woman-no-image.png" %>
		<% end %>

			<div class="col-xs-6">
				<div class="row admin-item">
					<h4 class="col-xs-3">USER NAME</h4>
					<h4 class="col-xs-6"><%= @user.name %></h4>
				</div>

				<div class="row admin-item">
					<h4 class="col-xs-3"></h4>
					<h4 class="col-xs-6">〒 <%= @user.postal_code %></h4>
				</div>

				<div class="row admin-item">
					<h4 class="col-xs-3">ADDRESS</h4>
					<h4 class="col-xs-6"><%= @user.address %></h4>
				</div>

				<div class="row admin-item">
					<h4 class="col-xs-3">AGE</h4>
					<h4 class="col-xs-6"><%= @user.age %></h4>
				</div>

				<div class="row admin-item">
					<h4 class="col-xs-3"></h4>
					<h4 class="col-xs-6"><%= @user.height %>cm</h4>
				</div>

				<div class="row admin-item">
					<h4 class="col-xs-3"></h4>
					<h4 class="col-xs-6"><%= @user.weight %>kg</h4>
				</div>

				<div class="row admin-item">
					<h4 class="col-xs-3">GENDER</h4>
					<h4 class="col-xs-6">
					<% if @user.gender == true %>
					　男性
					<% else %>
					　女性
					<% end %>
					</h4>
				</div>

				<div class="row admin-item">
					<h4 class="col-xs-3">基礎代謝</h4>
					<h4 class="col-xs-6"><%= @user.basal_metabolism.round(0) %>Kcal</h4>
				</div>

				<div class="row admin-item">
					<h4 class="col-xs-3">総摂取カロリー</h4>
					<% a = @user.total_ingestion_cal %>
					<h4 class="col-xs-6"><%= a["basal_metabolism"].round(0) %>Kcal</h4>
				</div>

				<div class="row admin-item">
					<h4 class="col-xs-3">タンパク質摂取量</h4>
					<h4 class="col-xs-6">
						<%= a["protein"].round(0) %>g<br>
						<%= (a["protein"] * 4).round(0) %>Kcal
					</h4>
				</div>

				<div class="row admin-item">
					<h4 class="col-xs-3">脂質摂取量</h4>
					<h4 class="col-xs-6">
						<%= (a["basal_metabolism"] * 0.2 / 9).round(0) %>g<br>
						<%= (a["basal_metabolism"] * 0.2).round(0) %>Kcal
					</h4>
				</div>

				<div class="row admin-item">
					<h4 class="col-xs-3">炭水化物摂取量</h4>
					<h4 class="col-xs-6">
						<%= (((a["basal_metabolism"]) - (a["protein"] * 4) - (a["basal_metabolism"] * 0.2)) / 4).round(0) %>g<br>
						<%= ((a["basal_metabolism"]) - (a["protein"] * 4) - (a["basal_metabolism"] * 0.2)).round(0) %>Kcal
					</h4>
				</div>

				<div class="row admin-item">
					<h4 class="col-xs-3">GYM</h4>
					<h4 class="col-xs-6"><%= @user.gym_id %></h4>
				</div>
			</div>
		<div class="row admin-item-show-btn">
		  <% if @user == current_user %>
			<%= link_to "EDIT", edit_users_user_path(@user),class: "col-xs-2 col-xs-offset-9 btn btn-primary" %>
		  <% end %>
			<%= link_to "USERS", users_users_path,class: "col-xs-2 col-xs-offset-9 btn btn-primary" %>
		</div>
		<h2>お近くのトレーニングGYM</h2>
			<div id="map" style="width: 400px; height: 400px;"></div>
			<script>
			  handler = Gmaps.build("Google");
			  handler.buildMap({ provider: {}, internal: {id: "map"}}, function(){
			    markers = handler.addMarkers(<%= raw @hash.to_json %>);
			    handler.bounds.extendWith(markers);
			    handler.fitMapToBounds();
			    handler.getMap().setZoom(19);
			  });
			</script>
</div>