<%= javascript_include_tag "admins/genre.js" %>
<div class ="container">
	<div class = "row">
		<div class="col-xs-8 col-xs-offset-2">
			<h2 class="elementor-heading-title">GYM EDIT:</h2>
		</div>
	</div>
	<%= form_for(@gym, url:admins_gym_path(@gym),method: :patch) do |f| %>
		<div class="row">
			<div class="col-xs-3 col-xs-offset-1">
				 <%= attachment_image_tag @gym, :gym_image, src: "", id:"item_image", size: "200x200", alt:"Image preview", class: "item_prev", fallback: "no_image.jpg" %>
			 	<%= f.attachment_field :gym_image %>
			</div>
			<div class="col-xs-8">
				<div class="row admin-item">
					<%= f.label :gym_name, "施設名", class:"col-xs-2" %>
					<%= f.text_field :gym_name, class:"col-xs-4" %>
				</div>
				<div class="row admin-item">
					<%= f.label :description, "内容", class:"col-xs-2" %>
					<%= f.text_area :description, class:"col-xs-4" %>
				</div>
				<div class="row admin-item">
					<%= f.label :postal_code, "郵便番号", class:"col-xs-2" %>
					<%= f.text_area :postal_code, class:"col-xs-4" %>
				</div>
				<div class="row admin-item">
					<%= f.label :address, "住所", class:"col-xs-2" %>
					<%= f.text_area :address, class:"col-xs-4" %>
				</div>
			</div>
		</div>
		<div class="row admin-item-show-btn">
			<%= f.submit "変更を保存", class:"col-xs-2 col-xs-offset-8 btn btn-primary"  %>
		</div>
	<% end %>
</div>
