<%= javascript_include_tag "admins/genre.js" %>

<div class = "container">
	<div class = "row">
		<div class="col-xs-8 col-xs-offset-2">
			<h2 class="elementor-heading-title">GYM EDIT:</h2>
		</div>
	</div>
	<%= form_for(@gym, url:admins_gym_path(@gym),method: :patch) do |f| %>
		<div class = "row edit-body">
			<div class="field">
				<%= attachment_image_tag @gym, :gym_image, src: "", id:"img_prev", size: "200x200", alt:"Image preview", class: "item_prev", fallback: "no_image.jpg" %>
			</div>
		 	<div class="field">
				<%= f.label :gym_image,"image change" ,class: "btn btn-warning btn-lg" ,for:"post_img"%>
				<%= f.attachment_field :gym_image, id:"post_img", class: "image", style:"display:none;" %>
			</div>

			<div class="field">
				<%= f.label :gym_name, "GYM" %><br />
				<%= f.text_field :gym_name %>
			</div>
			<div class="field">
				<%= f.label :description, "Overview" %><br />
				<%= f.text_area :description %>
			</div>
			<div class="field">
				<%= f.label :postal_code, "Postal Code" %><br />
				<%= f.text_field :postal_code %>
			</div>
			<div class="field">
				<%= f.label :address, "Address" %><br />
				<%= f.text_field :address %>
			</div>
			<div class="field">
				<%= f.label :gym_url, "GYMURL" %><br />
				<%= f.text_area :gym_url %>
			</div>
			<div class="row admin-item-show-btn">
				<%= f.submit "変更を保存", class: "update-btn" %>
			</div>
		</div>
	<% end %>
</div>
