<div class ="container">
	<div class = "row">
		<div class="col-xs-8 col-xs-offset-2">
			<h2 class="elementor-heading-title">GYMS:</h2>
		</div>
	</div>
		<div class="row">
			<% @gyms.each do |gym| %>
	   			<div class="col-xs-2">
	   				<%#= link_to admins_gym_path(gym) do %>
						<div class="hoge">
							<button type="button" data-toggle="modal" data-target="#sampleModal-<%= gym.id %> ">
								<div class="thumbnail">
									<%= attachment_image_tag gym, :gym_image, :fill, 200, 200, format: 'jpeg' %>
									<div class="caption">
										<p class="text-over"><%= gym.gym_name.truncate(10) %></p>
										<p class="text-over"><%= gym.description.truncate(10) %></p>
									</div>
								</div>
							</button>
						</div>
						<%= render 'show', {gym: gym} %>
					<%# end %>
			        <%= link_to "EDIT", edit_admins_gym_path(gym.id), class: "btn-sm btn-primary" %>
			        <%= link_to "DELETE",admins_gym_path(gym.id), method: :delete, class: "btn-sm btn-danger", data: { confirm: '本当に消しますか？' } %>
	  			</div>
  			<% end %>
		</div>
	<%= link_to "NEW GYM", new_admins_gym_path,class: "col-xs-4 col-xs-offset-4 btn btn-primary" %>
</div>