<div class ="container">
	<div class = "row">
		<div class="col-xs-8 col-xs-offset-2">
			<h2 class="elementor-heading-title">GYMS:</h2>
		</div>
	</div>
		<div class="row">
			<% @gyms.each do |gym| %>
	   			<div class="col-xs-2">
					<div class="hoges">
						<button type="button" data-toggle="modal" data-target="#sampleModal-<%= gym.id %> ">
							<div class="thumbnail">
								<%= attachment_image_tag gym, :gym_image, :fill, 200, 200, format: 'jpeg' %>
								<div class="caption">
									<p class="text-over"><%= gym.gym_name.truncate(10) %></p>
									<p class="text-over"><%= gym.description.truncate(10) %></p>
								</div>
							</div>
						</button>
					</div>
					<%= render 'show', {gym: gym, hash: @hash} %>
		       		<%= link_to "EDIT", edit_admins_gym_path(gym.id), class: "edit-btn" %>
		        	<%= link_to "DELETE",admins_gym_path(gym.id), method: :delete, class: "destroy-btn", data: { confirm: '本当に消しますか？' } %>
	  			</div>
  			<% end %>
		</div>
	<div class="row btn-footer">
		<%= link_to "NEW GYM", new_admins_gym_path,class: "new-btn" %>
	</div>
</div>