<%= javascript_include_tag "admins/genre.js" %>


<div class = "container">
	<div class = "row">
		<div class="col-xs-12">
			<h3 class="elementor-heading-title">GYM CREATE:</h3>
		</div>

	  <%= form_for(@gym, url:admins_gyms_path(@gym),method: :post) do |f| %>

		<div class="col-xs-4" style="margin-top: 100px;">
			<%= image_tag "no_image.jpg", id:"img_prev", size: "250x250", alt:"Image preview" %>
			<%= f.label :gym_image, "ADD image" ,class: "btn btn-warning btn-lg" ,for:"post_img" %>
			<%= f.attachment_field :gym_image, id:"post_img", style:"display:none;" %>
		</div>

		<div class="col-xs-8">
			<div class="row admin-item">
				<%= f.label :gym_name, "GYM", class:"col-xs-2" %>
				<%= f.text_field :gym_name, class:"col-xs-4" %>
			</div>
			<div class="row admin-item">
				<%= f.label :description, "Overview", class:"col-xs-2" %>
				<%= f.text_area :description, class:"col-xs-4" %>
			</div>
			<div class="row admin-item">
				<%= f.label :postal_code, "Postal Code", class:"col-xs-2" %>
				<%= f.text_field :postal_code, class:"col-xs-4" %>
			</div>
			<div class="row admin-item">
				<%= f.label :address, "Address", class:"col-xs-2" %>
				<%= f.text_field :address, class:"col-xs-4" %>
			</div>
			<div class="row admin-item">
				<%= f.label :gym_url, "GYMURL", class:"col-xs-2" %>
				<%= f.text_area :gym_url, class:"col-xs-4" %>
			</div>
		</div>
	</div>
		<div class="row admin-item-show-btn">
			<%= f.submit "新規登録", class:"col-xs-2 col-xs-offset-8 btn btn-primary" %>
		</div>
	  <% end %>
</div>

