<%= javascript_include_tag "admins/genre.js" %>

<div class ="container">
	<div class = "row">
		<div class="col-xs-8 col-xs-offset-2">
			<h2 class="elementor-heading-title">FOOD EDIT:</h2>
		</div>
	</div>
	<%= form_for(@food, url:admins_food_path(@food),method: :patch) do |f| %>
		<div class = "food">
			<div class = "food_colums">
				<div class="field">
					<%= attachment_image_tag @food, :food_image, id:"img_prev", size: "200x200", alt:"Image preview", class: "item_prev", fallback: "no_image.jpg" %>
				</div>
			 	<div class="field">
					<%= f.label :food_image,"image change" ,class: "btn btn-warning btn-lg" ,for:"post_img"%>
					<%= f.attachment_field :food_image, id:"post_img", class: "image", style:"display:none;" %>
				</div>
		    </div>
		    <div class="food_colums">
			 	<div class="field">
					<%= f.label :food_name, "商品名" %><br />
					<%= f.text_field :food_name %>
				</div>
				<div class="field">
					<%= f.label :food_content, "商品説明" %><br />
					<%= f.text_area :food_content %>
				</div>
			 	<div class="field">
					<%= f.label :food_genre_id, "ジャンル"%><br />
					<%= f.collection_select :food_genre_id, FoodGenre.all, :id, :food_genre_name %>
				</div>
			</div>
			<div class="food_colums">
				<div class="field">
					<%= f.label :ingestion_cal, "カロリー" %><br />
					<%= f.number_field :ingestion_cal %><span class="unit">kcal</span>
				</div>
				<div class="field">
					<%= f.label :protein, "タンパク質" %><br />
					<%= f.number_field :protein %><span class="unit">g</span>
				</div>
				<div class="field">
					<%= f.label :fat, "脂質" %><br />
					<%= f.number_field :fat %><span class="unit">g</span>
				</div>
				<div class="field">
					<%= f.label :carb, "炭水化物" %><br />
					<%= f.number_field :carb %><span class="unit">g</span>
				</div>
			</div>
		</div>
		<div class="row btn-footer">
			<%= f.submit "変更を保存", class: "update-btn" %>
		</div>
	<% end %>
</div>