<!-- .jsファイル呼び出し -->
<%= javascript_include_tag "admins/genre.js" %>

<div class ="container">
	<div class = "row">
		<div class="col-xs-8 col-xs-offset-2">
		<h2 class="elementor-heading-title">GENRE:</h2>
			<div class="genre-body">
				<table class="table">
					<tr>
						<th>GENRE LIST</th>
						<th></th>
						<th></th>
					</tr>
					<% @genres.each do |genre| %>
						<tr>
							<td><%= attachment_image_tag genre, :genre_image, src: "", id:"item_image", size: "210x60", alt:"Image preview", class: "item_prev", fallback: "no_image.jpg" %>
								<%= genre.genre_name %>
							</td>
							<td><%= link_to "EDIT", edit_admins_genre_path(genre.id), class: "btn-sm btn-primary" %></td>
							<td><%= link_to "DELETE",admins_genre_path(genre), method: :delete, class: "btn-sm btn-danger" %></td>
						</tr>
					<% end %>
				</table>
				<%= form_for(@genre, url: admins_genres_path) do |f| %>
					<div class="row genre-index-add" style="margin-left: 0; margin-right: 0;">
						GRNRE追加<%= f.attachment_field :genre_image, id:"post_img" %>
					    <%= f.text_field :genre_name, class:"col-xs-3 genre-field" %>
						<%= f.submit "ADD",class: "btn btn-info" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>