<div class="container">
	<div class="row">
		<div class="col-xs-12 title-text">
			<p class="subtitle">
				  <span class="sub-menu">
				  	TRAINING:
				  </span>
			  	&mdash; Train and get a healthy body. &mdash;
			</p>
		</div>
	</div>
	<div class="row select-item">
		<% if params[:category].present? %>
			<h2>
				<%= @training_genre.training_genre_name %>
				<span>(全<%= @trainings_quantity %>件)</span>
			</h2>
		<% else %>
			<h2>ALL TRAINING<span>(全<%= @trainings_quantity %>件)</span></h2>
		<% end %>
			<div class="col-xs-2 genre-sarch">
			  <h3 class="sarch">SARCH:</h3>
				<table class="genre-table">
					 <tr>
					 	 <td class="genre-names"><%= link_to "ALL TRAINING", users_trainings_path %></td>
					 </tr>
		 		  <% @training_genres.each do |t_genre| %>
	 				 <tr>
						 <td class="genre-names">
							<%= link_to users_trainings_path(category: t_genre.training_genre_name) do %>
								<%= t_genre.training_genre_name %>
							<% end %>
						 </td>
					 </tr>
		 		   <% end %>
		 		</table>
		    </div>
		<div class="col-xs-10">
			<table class="table food_active">
				<tr class="tre-tr">
					<th class="food_active" colspan="2">トレーニング</th>
					<th class="food_active">消費カロリー</th>
					<th class="food_active">ジャンル</th>
					<th class="food_active" colspan="2">セット数</th>
				</tr>
			    <% @trainings.each do |training| %>
					<tr>
						<td><%= attachment_image_tag training, :training_image, size: "40x40", fallback: "no_image.jpg" %></td>
						<td><%= link_to training.training_name, users_training_path(training) %></td>
						<td><%= training.consumption_cal %>kcal</td>
						<td><%= training.training_genre.training_genre_name %></td>
					  <%= form_for(@my_menu, url:training_users_my_menu_path(current_user), method: :post) do |f| %>
						<td><%= f.number_field :training_quantity, placeholder: "セット数" %></td>
						<%= f.hidden_field :training_id, :value => training.id %>
					  <% if user_signed_in? %>
							<%= f.hidden_field :user_id, :value => current_user.id %>
					  <% end %>
						<td><%= f.submit "リストに追加", class: "btn-sm btn-primary" %></td>
					  <% end %>
					</tr>
			    <% end %>
			</table>
		</div>
	</div>
</div>

