<div class="container">
	<div class = "row">
		<div class="col-xs-8 col-xs-offset-2">
			<h2 class="elementor-heading-title">TRAINING SHOW:</h2>
		</div>
	</div>
	<div class = "food">
		<div class="food_image">
		 <%= attachment_image_tag @training, :training_image, size: "100x100", format: 'jpeg', class: "food-img", fallback: "no_image.jpg" %>
		</div>

		<div class="food_col">
			<div class="food_body">
				<h4 class="food_title">トレ名</h4>
				<h4 class="food_colums"><%= @training.training_name %></h4>
			</div>
			<div class="food_body">
				<h4 class="food_title">説明</h4>
				<h4 class="food_colums"><%= @training.training_content %></h4>
			</div>
			<div class="food_body">
				<h4 class="food_title">消費カロリー</h4>
				<h4 class="food_colums"><%= @training.consumption_cal %>kcal</h4>
			</div>
			<div class="food_body">
				<h4 class="food_title">ジャンル</h4>
				<h4 class="food_colums"><%= @training.training_genre.training_genre_name %></h4>
			</div>
		</div>
	</div>
	<div class="row youtube">
		<iframe width="50%" height="400px" src="https://www.youtube.com/embed/<%= @training.movie_url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
		</iframe>
	</div>
	<div class="row">
		<div class="col-xs-3 col-xs-offset-8">
			<%= form_for(@my_menu, url:training_users_my_menu_path(current_user), method: :post) do |f| %>
				<%= f.number_field :training_quantity, placeholder: "個数選択" %>
				<%= f.hidden_field :training_id, :value => @training.id %>
				<% if user_signed_in? %>
					<%= f.hidden_field :user_id, :value => current_user.id %>
				<% end %>
				<%= f.submit "リストに追加", class: "btn-sm btn-primary" %>
			<% end %>
		</div>
	</div>
</div>