<div class ="container">
	<div class = "row">
		<div class="col-xs-8 col-xs-offset-2">
			<h2 class="elementor-heading-title">USERS:</h2>
				<%= form_with(model: [:users, @user], data: {remote: false}) do |f| %><!-- デフォルトで非同期で通信しようとするため 非同期しない場合は　data: {remote: false}と記述要-->

					<div class="field">
						<%= f.label :image %>
						<%= f.attachment_field :image, class: "image" %>
					</div>

					<div class="field">
						<%= f.radio_button :user_status, :true %>
					    <%= f.label :user_status, "会員" %>
					    <%= f.radio_button :user_status, :false %>
					    <%= f.label :user_status, "退会処分" %>
					</div>

					<div>
						<%= f.submit "UPDATE", :class=>"actions"%>
					</div>
				<% end %>
		</div>
	</div>
</div>