<div class ="container">
		<div class = "row">
			<div class="col-xs-12 title-text">
				<p class="subtitle">
					  <span class="sub-menu">
					  	USERS:
					  </span>
				  	&mdash; Let's praise each other &mdash;
				</p>
			</div>
		</div>
	<table class="table">
		<thead>
			<tr>
				<th></th>
				<th></th>
				<th></th>
				<th colspan="2"></th>
			</tr>
		</thead>

		<tbody>
			<% @users.each do |user| %>
			   <% if user.gender == true %>
					<tr class="mentr">
						<td><%= attachment_image_tag user, :image, class: "user-image", fallback: "man-no-image.png" %></td>
				<% else %>
					<tr class="womentr">
						<td><%= attachment_image_tag user, :image, class: "user-image", fallback: "woman-no-image.png" %></td>
				<% end %>
					<td class="user-profile"><%= user.name %></td>
					<td>
						<a type="button" data-toggle="modal" data-target="#sampleModal-<%= user.id %>" style="cursor: pointer;">
              				<%= image_tag 'follows.png' , height: "80px", width: "80px" %>
            			</a>
					</td>
					<td><%= link_to "PROFILE", admins_user_path(user), class: "user-profile" %></td>
				</tr>
				<!-- モーダル・ダイアログ -->
                <div class="modal fade" id="sampleModal-<%= user.id %>" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class ="following-user">
                                    <div class="row">
                                        <div class="col-xs-2"></div>
                                        <div class="col-xs-3">
                                            <%= link_to follow_users_user_path(user.id) do %>
                                            	<span><%= user.follower.map(&:followed).count %></span>
                                            	<%= image_tag 'follower.png' , height: "100px", width: "auto" %>
                                            <% end %>
                                        </div>
                                        <div class="col-xs-2">
                                        </div>
                                        <div class="col-xs-3" >
                                        	<%= link_to follower_users_user_path(user.id) do %>
                                        		<span><%= user.followed.map(&:follower).count %></span>
                                           		<%= image_tag 'followed.png' , height: "100px", width: "auto" %>
                                            <% end %>
                                        </div>
                                        <div class="col-xs-2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			  <% end %>
		</tbody>
	</table>
</div>