<% if @user.gender == true %>
	<div class ="container men-container">
		<div class = "row">
			<div class="col-xs-12 title-text">
				<p class="men-subtitle">
				    Step up your Body with Heart
					  <span class="men-menu">
					     USER SHOW::
					  </span>
				    &mdash; no  Muscle no Change &mdash;
				</p>
			</div>
		</div>
<% else %>
		<div class ="container women-container">
		<div class = "row">
			<div class="col-xs-12 title-text">
				<p class="women-subtitle">
				  　Beautiful Mind and Body
					  <span class="women-menu">
					    　USER SHOW::
					  </span>
				  　&mdash; most beautiful in the world &mdash;
				</p>
			</div>
		</div>
<% end %>
		<div class = "row image-point">
			<div class="col-xs-6 image-pos">
				<% if @user.gender == true %>
					 <%= attachment_image_tag @user, :image, class: "profile-img", fallback: "man-no-image.png" %>
				<% else %>
					 <%= attachment_image_tag @user, :image, class: "profile-img", fallback: "woman-no-image.png" %>
				<% end %>
			</div>

				<div class="col-xs-6 user-body">
					<div class="row">
						<h4 class="col-xs-6">NAME: <%= @user.name %></h4>
					</div>
					<div class="row">
						<h4 class="col-xs-6">AGE: <%= @user.age %>  /  <%= @user.height %>cm  /  <%= @user.weight %>kg</h4>
					</div>

					<div class="row">
						<h4 class="col-xs-6">あなたの基礎代謝<br><%= @user.basal_metabolism.round(0) %>Kcal</h4>
					</div>

					<div class="row">
						<% a = @user.total_ingestion_cal %>
						<h4 class="col-xs-6">総摂取カロリー<br><%= a["basal_metabolism"].round(0) %>Kcal</h4>
					</div>

					<div class="row">
						<h4 class="col-xs-6">
							タンパク質摂取量<br><%= a["protein"].round(0) %>g<br>
							<%= (a["protein"] * 4).round(0) %>Kcal
						</h4>
					</div>

					<div class="row">
						<h4 class="col-xs-6">
							脂質摂取量<br><%= (a["basal_metabolism"] * 0.2 / 9).round(0) %>g<br>
							<%= (a["basal_metabolism"] * 0.2).round(0) %>Kcal
						</h4>
					</div>

					<div class="row">
						<h4 class="col-xs-6">
							炭水化物摂取量<br><%= (((a["basal_metabolism"]) - (a["protein"] * 4) - (a["basal_metabolism"] * 0.2)) / 4).round(0) %>g<br>
							<%= ((a["basal_metabolism"]) - (a["protein"] * 4) - (a["basal_metabolism"] * 0.2)).round(0) %>Kcal
						</h4>
					</div>
				</div>
			</div>
			<div class="row">
					<% if @user.gender == true %>
						<%= link_to "EDIT", edit_admins_user_path(@user), class: "men-e-btn"%>
					<% else %>
						<%= link_to "EDIT", edit_admins_user_path(@user), class: "e-btn"%>
					<% end %>
			</div>

			<h2>お近くのトレーニングGYM</h2>
				<div id="map" style="width: 400px; height: 400px;"></div>
				<script>
				  handler = Gmaps.build("Google");
				  handler.buildMap({ provider: {}, internal: {id: "map"}}, function(){
				    markers = handler.addMarkers(<%= raw @hash.to_json %>);
				    handler.bounds.extendWith(markers);
				    handler.fitMapToBounds();
				    handler.getMap().setZoom(19);
				  });
				</script>
	</div>