<div class="container">
	<div class = "row">
		<div class="col-xs-8 col-xs-offset-2">
			<h2 class="elementor-heading-title">TRAINING SHOW:</h2>
		</div>
	</div>
	<div class="oya">
		<div class="item_col">
			<div class="item_body">
				<div class="item_title">
		 		<%= attachment_image_tag @training, :training_image, format: 'jpeg', class: "item_img", fallback: "no_image.jpg" %>
			</div>
		</div>
			<div class="item_body">
				<h4 class="item_title"><span class="description">トレ名</span> /
					<%= @training.training_name %>
				</h4>
			</div>
			<div class="item_body">
				<h4 class="item_title"><span class="description">説明</span> /
					<%= @training.training_content %>
				</h4>
			</div>
			<div class="item_body">
				<h4 class="item_title"><span class="description">消費カロリー</span> /
					<%= @training.consumption_cal %>kcal
				</h4>
			</div>
			<div class="item_body">
				<h4 class="item_title"><span class="description">ジャンル</span> /
					<%= @training.training_genre.training_genre_name %>
				</h4>
			</div>
		</div>
		<div class="item_col">
			<% if @training.movie_url != ""  %>
				<div class="row youtube">
					<iframe width="100%" height="400px" src="https://www.youtube.com/embed/<%= @training.movie_url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
					</iframe>
				</div>
			<% end %>
		</div>
	</div>
	<div class="row btn-footer">
		<%= link_to "編集する", edit_admins_training_path, class: "edit-btn"%>
	</div>
</div>