<%= javascript_include_tag "users/gym.js" %>


<div class ="container gym-container">
	<div class = "row">
		<div class="col-xs-12 title-text">
			<p class="subtitle">
				  <span class="sub-menu">
				  	GYMS:
				  </span>
			  	&mdash; I want to work on my abs more. &mdash;
			</p>
		</div>
	</div>
<% i = 1 %>
  <% @gyms.each do |gym| %>
	<div class="row gym-row" id="aaaaa">
		<div id="a-<%= i %>" class="col-xs-6 gym-img">
			<div class="hogu">
				<button class="gym-btn" type="button" data-toggle="modal" data-target="#sampleModal-<%= gym.id %> ">
					<%= attachment_image_tag gym, :gym_image, format: 'jpeg', class: "gym-image" %>
				</button>
			</div>
		</div>
			<div id="b-<%= i %>" class="col-xs-6 gym-space">
				<h2 class="impact"><%= gym.gym_name %>.</h2>
				<div>
					<p><%= gym.description %></p>
					<p>〒<%= gym.postal_code %></p>
					<p><%= gym.address %></p>
				</div>

				<div class="row admin-item">
					<h3>URL:</h3>
					<% if gym.gym_url != nil %>
					<%= link_to "LEARN MORE" ,gym.gym_url,class: "button-text", target: "_blank" %>
					<% end %>
				</div>
			</div>
		    <%= render 'show', {gym: gym} %>
		  <% i= i + 1 %>
		<% end %>
	</div>
</div>