<div class ="container gym-container">
	<div class = "row">
		<div class="col-xs-12 title-text">
			<p class="subtitle">
				  <span class="sub-menu">
				  	GYMS:
				  </span>
			  	&mdash; I want to work on my abs more. &mdash;
			</p>
		</div>
	</div>
		<% @gyms.each do |gym| %>
		<div class="row">
			<div class="col-xs-6">
			<div class="hoge">
				<button type="button" data-toggle="modal" data-target="#sampleModal-<%= gym.id %> ">
					<div class="thumbnail">
						<%= attachment_image_tag gym, :gym_image, :fill, 200, 200, format: 'jpeg' %>
						<div class="caption">
							<p class="text-over"><%= gym.gym_name.truncate(10) %></p>
							<p class="text-over"><%= gym.description.truncate(10) %></p>
						</div>
					</div>
				</button>
			</div>
			<div class="col-xs-6">
				<p></p>
			</div>
		</div>
		  <%= render 'show', {gym: gym} %>
		<% end %>
	</div>
</div>