<%= javascript_include_tag "users/gym.js" %>


<div class ="container gym-container">
	<div class = "row">
		<div class="col-xs-12 title-text">
			<p class="subtitle">
				  <span class="sub-menu">
				  	GYMS:
				  </span>
			  	&mdash; I want to work on my abs more. &mdash;
			</p>
		</div>
	</div>
<% i = 1 %>
  <% @gyms.each do |gym| %>
	<div class="row gym-row" id="aaaaa">
		<div id="a-<%= i %>" class="col-xs-6 gym-img">
			<div class="hogu">
				<button class="gym-btn" type="button" data-toggle="modal" data-target="#sampleModal-<%= gym.id %> ">
						<%= attachment_image_tag gym, :gym_image, format: 'jpeg', class: "gym-image" %>
						<!-- <div class="caption">
							<p class="text-over"><%#= gym.gym_name.truncate(10) %></p>
							<p class="text-over"><%#= gym.description.truncate(10) %></p>
						</div> -->
				</button>
			</div>
		</div>
			<div id="b-<%= i %>" class="col-xs-6 gym-space">
				<h2 class="impact"><%= gym.gym_name %>.</h2>
				<h2 class="heading-title">Let's get started from here.</h2>
				<div class="text-editor">
					<p><%= gym.description %></p>
				</div>
				<div class="text-editor">
					<p><%= gym.postal_code %></p>
				</div>
				<div class="text-editor">
					<p><%= gym.address %></p>
				</div>
				<%= link_to "LEARN MORE" ,homes_about_path,class: "button-text" %>
			</div>
		    <%= render 'show', {gym: gym} %>
		  <% i= i + 1 %>
		<% end %>
	</div>
</div>