<div class = "container article-container">
	<div class = "row">
		<div class="col-xs-12 title-text">
			<p class="subtitle">
				  <span class="sub-menu">
				  	MY MENU:
				  </span>
			  	&mdash; Eat well and Move well. &mdash;
			</p>
		</div>
	</div>
	<div class = "row">
		<div class="col-xs-4 col-xs-offset-2">
			<%= link_to "FOOD SELECT", users_foods_path, class: "f_genre-btn" %>
		</div>
		<div class="col-xs-4">
			<%= link_to "TRAINING SELECT", users_trainings_path, class: "t_genre-btn" %>
		</div>
	</div>
	<div class="row">
	    <table class="table table-bordered">
		    <tr class="active">
		    	<th class="food_active">画像</th>
				<th class="food_active">食品名</th>
				<th class="food_active">カロリー</th>
				<th class="food_active">タンパク質</th>
				<th class="food_active">脂質</th>
				<th class="food_active">炭水化物</th>
				<th class="food_active">数量</th>
				<th class="food_active"></th>
				<th class="food_active"></th>
		    </tr>
		  <%# if food_image.nil? %>
	        <% @my_menus.each do |menu| %>
				<tr>
					<td>
						<%= attachment_image_tag menu.food, :food_image, :fill, 60, 60, format: 'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg", size:'60x60' %>
					</td>
					<td><%= menu.food.food_name %><br><%= menu.food.food_content %></td>
					<td><%= menu.food.ingestion_cal %>kcal</td>
					<td><%= menu.food.protein %>g</td>
					<td><%= menu.food.fat %>g</td>
					<td><%= menu.food.carb %>g</td>
					<%= form_for(menu, url:users_my_menu_path(menu), method: :patch) do |f| %>
						<td><%= f.number_field :food_quantity %></td>
						<td><%= f.submit "変更", :class => 'btn btn-primary' %></td>
					<% end %>
					<td><%= link_to "削除する",users_my_menu_path(menu), method: :delete, class: "btn btn-danger" %></td>
				</tr>
	 	    <% end %>
	 	  <%# end %>
	    </table>
	</div>

	<div class="row">
	    <table class="table table-bordered">
		    <tr class="active">
		    	<th class="food_active">画像</th>
				<th class="food_active">トレーニング</th>
				<th class="food_active">運動量</th>
				<th class="food_active">消費カロリー</th>
				<th class="food_active">セット数</th>
				<th class="food_active"></th>
				<th class="food_active"></th>
		    </tr>
	        <% @my_menus.each do |menu| %>
				<tr>
					<td>
						<%#= attachment_image_tag menu.training, :training_image, :fill, 60, 60, format: 'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg", size:'60x60' %>
					</td>
					<td><%#= menu.training.training_name %></td>
					<td><%#= menu.training.training_content %></td>
					<td><%#= menu.food.consumed_cal %>kcal</td>
					<%= form_for(menu, url:users_my_menu_path(menu), method: :patch) do |f| %>
						<td><%= f.number_field :training_quantity %></td>
						<td><%= f.submit "変更", :class => 'btn btn-primary' %></td>
					<% end %>
					<td><%= link_to "削除する",users_my_menu_path(menu), method: :delete, class: "btn btn-danger" %></td>
				</tr>
	 	    <% end %>
	    </table>
	</div>

    <div class="row">
    	<div class="col-xs-4 col-xs-offset-4">
			<%= link_to "リストを空にする",destroy_all_users_my_menus_path, method: :delete, class: "destroy-btn" %>
		</div>
		<!-- <div class="col-xs-3 col-xs-offset-7">
			<table class="table table-bordered">
				<tr>
					<th class="active"></th>
					<th><%#= @total_price %></th>
				</tr>
			</table>
		</div> -->
	</div>

	<div class="row">
		<%#= link_to '記録を保存する', new_order_path, data: {"turbolinks" => false}, :class => ' col-xs-2 col-xs-offset-5 btn btn-primary' %>
	</div>
</div>