<%= javascript_include_tag "admins/genre.js" %>

<div class="container">
	<div class="row">
		<div class="col-xs-12 title-text">
			<p class="subtitle">
				  <span class="sub-menu">
				  	TRAINING CREATE:
				  </span>
			  	&mdash; Train and get a healthy body. &mdash;
			</p>
		</div>
	</div>
	<%= form_for(@training, url:selftraining_users_my_menu_path(current_user),method: :post) do |f| %>
		<div class = "food">
			<div class = "food_colums">
				<div class="field">
					<%= attachment_image_tag @training, :training_image, src: "", id:"img_prev", size: "200x200", alt:"Image preview", class: "item_prev", fallback: "no_image.jpg" %>
				</div>
			 	<div class="field">
					<%= f.label :training_image,"image change" ,class: "btn btn-warning btn-lg" ,for:"post_img"%>
					<%= f.attachment_field :training_image, id:"post_img", class: "image", style:"display:none;" %>
				</div>
		    </div>
		    <div class = "food_colums">
			 	<div class="field">
					<%= f.label :training_name, "トレ名" %><br />
					<%= f.text_field :training_name %>
				</div>
				<div class="field">
					<%= f.label :training_content, "説明" %><br />
					<%= f.text_area :training_content %>
				</div>
			</div>
			<div class = "food_colums">
				<div class="field">
					<%= f.label :consumption_cal, "カロリー" %><br />
					<%= f.number_field :consumption_cal, placeholder: '半角数字' %><span class="unit">kcal</span>
				</div>
				<div class="field">
					<%= f.label :movie_url, "動画URL" %><br />
					<%= f.text_field :movie_url %>
				</div>
				<%= f.hidden_field :training_genre_id, :value => @training.training_genre_id %>
			</div>
		</div>
		<div class="row admin-item-show-btn">
			<%= f.submit "NEW TRAINING", class: "new-btn" %>
		</div>
	<% end %>
</div>