<div class = "container article-container">
	<div class = "row">
		<div class="col-xs-12 title-text">
			<p class="subtitle">
				  <span class="sub-menu">
				  	ARTICLES:
				  </span>
			  	&mdash; You only live once. Better enjoy it. &mdash;
			</p>
		</div>
	</div>
	<div class = "row fight">
		<h2 class="lets-go-text">In the end, I can't escape from my responsibilities.</h2>
		<p class="text-foryou">
			皆、筋トレしよう！圧倒的な体力が手に入ります。そして人間も所詮動物です。<br>
			気に入らない上司もパワハラ取引先もいざとなればひねり潰せると思うと精神が安定します。上司も取引先も所詮動物です。<br>弱そうな獲物しか狙いません。筋肉をつければ狙われません。筋肉があなたを守ってくれます。<br>
			そして筋トレすれば殆どの問題は解決する。逆に言うと筋トレしても残っている問題こそが <span class="strong-text"> 真の問題だ !</span>
		</p>
	</div>
	<div class="row article-index">
		<% @articles.each do |article| %>
   			<div class="col-xs-2">
   				<%#= link_to admins_article_path(article) do %>
					<div class="hoge">
						<button class="article" data-id="<%= article.id %>" type="button" data-toggle="modal" data-target="#sampleModal-<%= article.id %> ">
							<div class="thumbnail">
								<%= attachment_image_tag article, :article_image, :fill, 200, 200, format: 'jpeg' %>
								<div class="caption">
									<p class="text-over"><%= article.title.truncate(10) %></p>
									<p class="text-over">投稿日時 / <%= article.created_at.strftime("%Y/%m/%d") %></p>
									<p class="text-over"><strong>閲覧数:</strong><span class="impression_count"><%= article.impressions_count %></span></p>
								</div>
							</div>
						</button>
					</div>
					<%= render 'show', {article: article} %>
				<%# end %>
  			</div>
		<% end %>
	</div>
	<div class = "row">
		<div class="col-xs-12 article-bottom">
			<%= image_tag 'article.png', width:"60%" ,height:"60%" %>
			<p class="text-foryou">
			変化のスピードが異常に早い今の時代、安全で安定した道なんてない。親世代が生きてきた敷かれたレールに乗れば人生安泰っていう時代はとっくに終わってる。<br>自分の頭で考え、自分の感覚を信じて突き進み納得のいく人生を送れ。人生一度きり。<br>
			他人に言われるがままではなく自分の生きたいように生きろ。<br>
		</p>
		</div>
	</div>
</div>