<div class="container">
	<div class="row">
		<div class="col-xs-12 title-text">
			<p class="subtitle">
				  <span class="sub-menu">
				  	FOOD:
				  </span>
			  	&mdash; Eating is making the body. &mdash;
			</p>
		</div>
	</div>
		<div class="oya">
			<div class="fitem_col">
				<div class="item_body">
					<div class="item_title">
			 		<%= attachment_image_tag @food, :food_image, format: 'jpeg', class: "fitem_img", fallback: "no_image.jpg" %>
					</div>
				</div>
			</div>
			<div class="fitem_col">
				<div class="item_body">
					<h4 class="item_title"><span class="description">商品名</span> /
						<%= @food.food_name %>
					</h4>
				</div>
				<div class="item_body">
					<h4 class="item_title"><span class="description">内容</span> /
						<%= @food.food_content %>
					</h4>
				</div>
				<div class="item_body">
					<h4 class="item_title"><span class="description">ジャンル</span> /
						<%= @food.food_genre.food_genre_name %>
					</h4>
				</div>
				<div class="item_body">
					<h4 class="item_title"><span class="description">カロリー</span> /
						<%= @food.ingestion_cal %>kcal
					</h4>
				</div>
				<div class="item_body">
					<h4 class="item_title"><span class="description">タンパク質</span> /
						<%= @food.protein %>g
					</h4>
				</div>
				<div class="item_body">
					<h4 class="item_title"><span class="description">脂質</span> /
						<%= @food.fat %>g
					</h4>
				</div>
				<div class="item_body">
					<h4 class="item_title"><span class="description">炭水化物</span> /
						<%= @food.carb %>g
					</h4>
				</div>
				<div class="item_body">
					<div class="item_title">
						<%= form_for(@my_menu, url:users_my_menus_path) do |f| %>
							<%= f.number_field :food_quantity, placeholder: "個数" %>
							<%= f.hidden_field :food_id, :value => @food.id %>
							<% if user_signed_in? %>
								<%= f.hidden_field :user_id, :value => current_user.id %>
							<% end %>
							<%= f.submit "リストに追加", class: "btn-sm btn-primary" %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>