<!-- モーダル・ダイアログ -->
<div class="modal fade" id="sampleModal-<%= supplement.id %>" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content modal_back">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
				<h4 class="modal-title">SUPPLEMENT SHOW</h4>
			</div>
			<div class="modal-body">
				 <%= attachment_image_tag supplement, :supple_image,:fill, 300, 400, format: 'jpeg', fallback: "no_image.jpg"%>
				<div class="row admin-item">
					<h3>NAME:</h3>
					<h4 class="col-xs-12"><%= supplement.item_name %></h4>
				</div>
				<div class="row admin-item">
					<h3>DESCRIPTION:</h3>
					<h4 class="col-xs-12"><%= supplement.description %></h4>
				</div>
				<div class="row admin-item">
					<h3>PRICE:</h3>
					<h4 class="col-xs-12">￥<%= supplement.price %></h4>
				</div>
				<div class="row admin-item">
					<h3>MAKER:</h3>
					<h4 class="col-xs-12"><%= supplement.maker %></h4>
				</div>
				<div class="row admin-item">
					<h3>GENRE:</h3>
					<h4 class="col-xs-12"><%= supplement.genre.genre_name %></h4>
				</div>

				<div class="row admin-item">
					<h3>tag:</h3>
					<% supplement.tags.each do |tag| %>
                		<span class="tag-btn"><%= tag.name %></span>
              		<% end %>
              	</div>

				<div class="row admin-item">
					<h3>URL:</h3>
					<% if supplement.sales_target_url != nil %>
					<h4 class="col-xs-12"><a href="<%= supplement.sales_target_url %>" target="_blank">買いたいやつは　GO！</a></h4>
					<% end %>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
			</div>
			<div id="comments_count_show">
				<h4>コメント数：<%= supplement.comments.count %></h4>
			</div>
			<div id="rate_show">
				<h4>
					<% if supplement.comments.select("score").average(:score).present? %>
						<% if supplement.comments.select("score").average(:score) <= -0.5 %>
							AI 評価平均：
							<i class="fas fa-star" style="color: #3B82C4;"></i>
							<i class="far fa-sad-tear 3x" style="color: #3B82C4;"></i>
						<% elsif supplement.comments.select("score").average(:score) < 0.0 %>
							AI 評価平均：
							<i class="fas fa-star" style="color: #6EC7E2;"></i>
							<i class="fas fa-star-half" style="color: #6EC7E2;"></i>
							<i class="far fa-frown-open 3x" style="color: #6EC7E2;"></i>
						<% elsif supplement.comments.select("score").average(:score) <= 0.5 %>
							AI 評価平均：
							<i class="fas fa-star" style="color: #F5A500;"></i>
							<i class="fas fa-star" style="color: #F5A500;"></i>
							<i class="fas fa-star" style="color: #F5A500;"></i>
							<i class="far fa-grin-alt 3x" style="color: #F5A500;"></i>
						<% elsif supplement.comments.select("score").average(:score) <= 1.0 %>
							AI 評価平均：
							<i class="fas fa-star" style="color: #E84566;"></i>
							<i class="fas fa-star" style="color: #E84566;"></i>
							<i class="fas fa-star" style="color: #E84566;"></i>
							<i class="fas fa-star" style="color: #E84566;"></i>
							<i class="fas fa-star" style="color: #E84566;"></i>
							<i class="far fa-grin-squint 3x" style="color: #E84566;"></i>
						<% else %>
							AI 評価平均：
							<i class="fas fa-star" style="color: #92CB97;"></i>
							<i class="fas fa-star" style="color: #92CB97;"></i>
							<i class="fas fa-star-half" style="color: #92CB97;"></i>
							<i class="far fa-meh 3x" style="color: #92CB97;"></i>
						<% end %>
					<% end %>
				</h4>
			</div><br>

			<div id="s-comments">
				<% supplement.comments.each do |comment| %>
					<%= render partial: 'comments/supple_comment' , locals: {comment: comment} %>
				<% end %> <!-- eachメソッドでrenderの中身を１つ１つ取り出す。 -->
			</div>
		</div>
	</div>
</div>

