<%= javascript_include_tag "admins/genre.js" %>
<div class ="container">
	<div class = "row">
		<div class="col-xs-8 col-xs-offset-2">
			<h2 class="elementor-heading-title">ARTICLE EDIT:</h2>
		</div>
	</div>
	<%= form_for(@article, url:admins_article_path(@article),method: :patch) do |f| %>
		<div class = "row edit-body">
			<div class="field">
				<%= attachment_image_tag @article, :article_image, src: "", id:"img_prev", size: "200x200", alt:"Image preview", class: "item_prev", fallback: "no_image.jpg" %>
			</div>
		 	<div class="field">
				<%= f.label :article_image,"image change" ,class: "btn btn-warning btn-lg" ,for:"post_img"%>
				<%= f.attachment_field :article_image, id:"post_img", class: "image", style:"display:none;" %>
			</div>
		 	<div class="field">
				<%= f.label :title, "タイトル" %><br />
				<%= f.text_field :title %>
			</div>
		 	<div class="field">
				<%= f.label :body, "内容" %><br />
				<%= f.text_area :body %>
			</div>
			<div class="row admin-item-show-btn">
				<%= f.submit "新規登録", class: "btn btn-primary" %>
			</div>
		</div>
	<% end %>
</div>