<div class ="container">
	<div class = "row">
		<div class="col-xs-8 col-xs-offset-2">
			<h2 class="elementor-heading-title">ARTICLES:</h2>
		</div>
	</div>
	<% @articles.each do |article| %>
		<div class="row">
   			<div class="col-xs-4 col-xs-4">
		    	<div class="thumbnail">
			        <%= attachment_image_tag article, :article_image, :fill, 200, 200, format: 'jpeg' %>
			      	<div class="caption">
				        <p><%= article.title %></p>
				        投稿日時 / <%= article.created_at.strftime("%Y/%m/%d") %>
				        <%= link_to "EDIT", edit_admins_article_path(article.id), class: "btn-sm btn-primary" %>
				        <%= link_to "DELETE",admins_article_path(article.id), method: :delete, class: "btn-sm btn-danger" %>
				    </div>
   		 		</div>
  			</div>
		</div>
	<% end %>
</div>
