<div class ="container">
	<div class = "row">
		<div class="col-xs-8 col-xs-offset-2">
			<h2 class="elementor-heading-title">ARTICLES:</h2>
		</div>
	</div>
		<div class="row">
			<% @articles.each do |article| %>
	   			<div class="col-xs-2">
	   				<%#= link_to admins_article_path(article) do %>
						<div class="hoges">
							<button type="button" data-toggle="modal" data-target="#sampleModal-<%= article.id %> ">
								<div class="thumbnail">
									<%= attachment_image_tag article, :article_image, :fill, 200, 200, format: 'jpeg' %>
									<div class="caption">
										<p class="text-over"><%= article.title.truncate(10) %></p>
										<p class="text-over">投稿日時 / <%= article.created_at.strftime("%Y/%m/%d") %></p>
									</div>
								</div>
							</button>
						</div>
						<%= render 'show', {article: article} %>
					<%# end %>
			        <%= link_to "EDIT", edit_admins_article_path(article.id), class: "btn-sm btn-primary" %>
			        <%= link_to "DELETE",admins_article_path(article.id), method: :delete, class: "btn-sm btn-danger", data: { confirm: '本当に消しますか？' } %>
	  			</div>
  			<% end %>
		</div>
	<div class="row btn-footer">
		<%= link_to "NEW ARTICLE", new_admins_article_path,class: "col-xs-4 col-xs-offset-4 btn btn-primary" %>
	</div>
</div>