<!DOCTYPE html>
<html>
  <head>
    <title>Desire</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" rel="stylesheet">
    <script src="//maps.google.com/maps/api/js?key=AIzaSyDI65Gdy9B7n2N0gSrvDzUe_vbKVMlEsz8"></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <script src="//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" type="text/javascript"></script>

  </head>

  <body>
      <header>
          <table>
              <tbody>
                  <tr>
                      <td class="header-image">
                        <%= link_to root_path do %> <!-- target:"_blank" target="_blank" 新しいタブで遷移 -->
                          <%= image_tag 'site1.png', width:"220" ,height:"60" %>
                        <% end %>
                      </td>
                        <!-- ユーザーログイン時 -->
                      <%  if !request.fullpath.include?("admins") %>
                          <!-- URLにadminsが含まれている場合は表示しない -->
                          <td class="td-tag"><%= link_to "HOME" ,root_path,data: {"turbolinks" => false},class: "exhibition" %></td>
                          <td class="td-tag"><%= link_to "ABOUT" ,homes_about_path,class: "exhibition" %></td>
                          <td class="td-tag"><%= link_to "USERS" ,users_users_path,class: "exhibition" %></td>
                          <td class="td-tag"><%= link_to "SUPPLEMENT" ,users_supplements_path,class: "exhibition" %></td>
                          <td class="td-tag"><%= link_to "G Y M"  ,users_gyms_path,class: "exhibition" %></td>
                          <td class="td-tag"><%= link_to "ARTICLE"  ,users_articles_path,class: "exhibition" %></td>
                          <%  if user_signed_in? %>
                            <td class="td-tag"><%= link_to "MY PAGE" ,users_user_path(current_user),class: "exhibition" %></td>
                            <td class="td-tag"><%= link_to "LOG OUT" ,destroy_user_session_path , method: :delete ,class: "exhibition" %></td>
                          <% else %>
                            <td class="td-tag"><%= link_to "新規登録" ,new_user_registration_path, class: "exhibition" %></td>
                            <td class="td-tag"><%= link_to "LOG IN" ,new_user_session_path, class: "exhibition" %></td>
                          <% end %>

                          <!-- 管理者ログイン時 -->
                          <% elsif admin_signed_in? && request.fullpath.include?("admins") %>
                          <!-- URLにadminsが含まれている場合に表示 -->
                          <td class="td-tag"><%= link_to "HOME",root_path ,data: {"turbolinks" => false},class: "exhibition" %></td>
                          <td class="td-tag"><%= link_to "ABOUT",homes_about_path ,class: "exhibition" %></td>
                          <td class="td-tag"><%= link_to "USERS" ,admin_users_path,class: "exhibition" %></td>
                          <td class="td-tag"><%= link_to "SUPPLEMENT",admin_supplements_path,class: "exhibition" %></td>
                          <td class="td-tag"><%= link_to "G Y M" ,admin_gyms_path,class: "exhibition" %></td>
                          <td class="td-tag"><%= link_to "ARTICLE" ,admin_articles_path,class: "exhibition" %></td>
                          <td class="td-tag"><%= link_to "LOG OUT" ,destroy_admin_session_path, method: :delete,class: "exhibition" %></td>
                        <% else %>
                         <td class="td-tag"><%= link_to "管理者用LOG IN" ,new_admin_session_path,class: "exhibition" %></td>
                      <% end %>
                  </tr>
              </tbody>
          </table>
      </header>

    <%= yield %>

    <footer>
        <div class="container">
          <div class="low">
                <ul>
                  <li><%= link_to "トップページ",root_path,data: {"turbolinks" => false} %></li><br>
                  <li><%= link_to "利用規約" , homes_tos_path %></li><br>
                  <li><%= link_to "プライバシーポリシー", homes_privacy_path  %></li><br>
                  <%  if user_signed_in? %>
                    <li><%= link_to "お問い合わせ", users_user_contact_path(current_user) %></li><br>
                  <% end %>
                </ul>
          </div>
          <div class="low">
            <div class="fotter-icons">
              <span><a class="fab fa-instagram" href="https://www.instagram.com/?hl=ja"></a></span>
              <span><a class="fab fa-twitter" href="https://twitter.com/TwitterDev?ref_src=twsrc%5Etfw%7Ctwcamp%5Eembeddedtimeline%7Ctwterm%5Ecollection%3A539487832448843776&ref_url=https%3A%2F%2Fpublish.twitter.com%2F%23"></a></span>
              <span><a class="fab fa-facebook-f" href="https://ja-jp.facebook.com/"></a></span>
            </div>
          </div>
          <div class="low">
              <%= link_to root_path do %>
                <%= image_tag 'site1.png',width:"220" ,height:"60" %><br><br>
              <% end %>
              <p>株式会社ビッグマッスル<br>
                〒111-0000  東京都大腿郡僧帽筋町広背筋原2101-29<br>
                TEL：0300-00-0000  FAX：0300-00-0000
              </p>
              <p>
                <small>
                  Copyright © big MUSCLE INC. All Rights Reserved.
                </small>
              </p>
          </div>
        </div>
    </footer>
  </body>
</html>

<div id="page_back">
  <a href="#">
    ページ先頭へ戻る☝︎
  </a>
</div>